@media only screen and (min-width: 540px) and (max-width: 1920px) {

    .top-picks .feature:nth-child(2) {
      @include span-col(6);
      grid-row: 2/4;
    }
    
    .top-picks .feature:nth-child(3) {
      @include span-col(6);
      grid-row: 2/3;
    }
    
    .top-picks .feature:nth-child(4) {
      @include span-col(6);
      grid-row: 3/4;
    }

    /* gallery */

    .gallery figure:nth-child(3) {
      @include span-col(5);
    }
    
    .gallery figure:nth-child(4) {
      @include span-col(4);
    }
    
    .gallery figure:nth-child(5) {
      @include span-col(3);
    }

    /* product items */
    .product-item {
        @include span-col(4);
    }

    /* User Comment */ 
    .user-post {
        @include span-col(6);
    }

  }

  /* mobile */

  @media only screen and (min-width: 320px) and (max-width: 540px) {

    .top-picks .feature:nth-child(2) {
      @include span-col(12);
      grid-row: 2/4;
    }
    
    .top-picks .feature:nth-child(3) {
      @include span-col(6);
      grid-row: 4/5;
    }
    
    .top-picks .feature:nth-child(4) {
      @include span-col(6);
      grid-row: 4/5;
    }

    /* gallery */

    .gallery figure:nth-child(3) {
      @include span-col(12);
    }
    
    .gallery figure:nth-child(4) {
      @include span-col(7);
    }
    
    .gallery figure:nth-child(5) {
      @include span-col(5);
    }

    /* product items */
    .product-item {
      @include span-col(6);
    
    }

    .products .product-item:nth-child(2),
    .products .product-item:nth-child(3) {
      grid-row: 2/3;
    }
    
    .products .product-item:nth-child(4),
    .products .product-item:nth-child(5) {
      grid-row: 3/4;
    }

    .products .product-item:nth-child(6),
    .products .product-item:nth-child(7) {
      grid-row: 4/5;
    }

    /* User Comment */ 
    .user-post {
      @include span-col(6);
    }


  }