$background-main: #74c88d;
$background-secondary: #66c61a;
$icon-color: #7dd011;
$icon-color-secondary: #7dd011;
$btn-primary-color: #d8055a;
$btn-secondary-color: #55bf00;

$light-weight: 200;
$normal-weight: 400;
$bold-weight: 600;
