$background-main: #4caf6a;
$background-secondary: #f1f1f1fb;
$background-alt: rgb(192, 241, 188);
$primary-font-color: #000;
$secondary-font-color: #fff;
$accent-font-color: #ff5dce;
$icon-color: #7dd011;
$icon-color-secondary: #7dd011;
$btn-primary-color: #fcb7e7;
$btn-secondary-color: #55bf00;

$color-filters-1: rgb(174, 0, 255);
$color-filters-2: rgb(241, 102, 102);
$color-filters-3: rgb(245, 245, 115);
$color-filters-4: rgb(144, 151, 250);

$light-weight: 200;
$normal-weight: 400;
$bold-weight: 600;
