$background-main: #62c312;
$background-secondary: #55bf00;
$background-alt: #fdfdfd;
$primary-font-color: #000;
$secondary-font-color: #fff;
$accent-font-color: #d8055a;
$icon-color: #7dd011;
$icon-color-secondary: #7dd011;
$btn-primary-color: #d8055a;
$btn-secondary-color: #55bf00;
$btn-outlined: #bde687;
$btn-outlined-width: 6em;

/* colors for filter */
$color-filters-1: #9b1844;
$color-filters-2: #e9014e;
$color-filters-3: #ff98ba;
$color-filters-4: #ffd6e4;

/* colors for filter products */
$main-color-filter-1: #bc4452;
$main-color-filter-2: #d49315;
$main-color-filter-3: #a833b9;
$main-color-filter-4: #df5fa7;
$main-color-filter-5: #5faddf;

$light-weight: 200;
$normal-weight: 400;
$bold-weight: 600;
