.t-center {
  text-align: center; }

.p-0 {
  padding: 0; }

.p-1 {
  padding: .25em; }

.p-2 {
  padding: .5em; }

.p-3 {
  padding: 1em; }

.p-4 {
  padding: 1.5em; }

.p-5 {
  padding: 3em; }

.pt-0 {
  padding-top: 0; }

.pt-1 {
  padding-top: .25em; }

.pt-2 {
  padding-top: .5em; }

.pt-3 {
  padding-top: 1em; }

.pt-4 {
  padding-top: 1.5em; }

.pt-5 {
  padding-top: 3em; }

.pb-0 {
  padding-bottom: 0; }

.pb-1 {
  padding-bottom: .25em; }

.pb-2 {
  padding-bottom: .5em; }

.pb-3 {
  padding-bottom: 1em; }

.pb-4 {
  padding-bottom: 1.5em; }

.pb-5 {
  padding-bottom: 3em; }

.pr-0 {
  padding-right: 0; }

.pr-1 {
  padding-right: .25em; }

.pr-2 {
  padding-right: .5em; }

.pr-3 {
  padding-right: 1em; }

.pr-4 {
  padding-right: 1.5em; }

.pr-5 {
  padding-right: 3em; }

.pl-0 {
  padding-left: 0; }

.pl-1 {
  padding-left: .25em; }

.pl-2 {
  padding-left: .5em; }

.pl-3 {
  padding-left: 1em; }

.pl-4 {
  padding-left: 1.5em; }

.pl-5 {
  padding-left: 3em; }

.m-0 {
  margin: 0; }

.m-1 {
  margin: .25em; }

.m-2 {
  margin: .5em; }

.m-3 {
  margin: 1em; }

.m-4 {
  margin: 1.5em; }

.m-5 {
  margin: 3em; }

.mt-0 {
  margin-top: 0; }

.mt-1 {
  margin-top: .25em; }

.mt-2 {
  margin-top: .5em; }

.mt-3 {
  margin-top: 1em; }

.mt-4 {
  margin-top: 1.5em; }

.mt-5 {
  margin-top: 3em; }

.mb-0 {
  margin-bottom: 0; }

.mb-1 {
  margin-bottom: .25em; }

.mb-2 {
  margin-bottom: .5em; }

.mb-3 {
  margin-bottom: 1em; }

.mb-4 {
  margin-bottom: 1.5em; }

.mb-5 {
  margin-bottom: 3em; }

.mr-0 {
  margin-right: 0; }

.mr-1 {
  margin-right: .25em; }

.mr-2 {
  margin-right: .5em; }

.mr-3 {
  margin-right: 1em; }

.mr-4 {
  margin-right: 1.5em; }

.mr-5 {
  margin-right: 3em; }

.ml-0 {
  margin-left: 0; }

.ml-1 {
  margin-left: .25em; }

.ml-2 {
  margin-left: .5em; }

.ml-3 {
  margin-left: 1em; }

.ml-4 {
  margin-left: 1.5em; }

.ml-5 {
  margin-left: 3em; }

.clip {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute; }

.slider {
  padding-left: 2rem;
  background-color: #66c61a;
  height: 90vh;
  display: flex;
  align-self: center; }

.slider header {
  width: 100%;
  height: 50px; }

.slider button {
  width: 50%;
  margin: auto;
  border-radius: 5000px;
  background-color: #d8055a;
  border: 1px solid #d8055a;
  color: #fff; }

.slider div {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  padding: 200px 0;
  width: 45%; }

.slider h2 {
  text-align: center; }

.menu-bar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: absolute;
  background-color: transparent;
  width: 100%; }

.nav {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: flex-end; }

.nav-i,
.logo {
  padding: 1rem 1.2rem; }

.slider h2 {
  width: 100%; }

/* top picks */
.top-picks {
  grid-auto-rows: auto; }

.col-grow {
  grid-column: span 12; }

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr); }

.gallery {
  background-color: #74c88d; }

.gallery h2 {
  grid-column: span 11; }

.controls {
  grid-column: span 1; }

.comments {
  background-color: #74c88d; }

.comments h2 {
  grid-column: span 11; }

.user-info figure {
  grid-column: span 4; }

.user-info hgroup {
  grid-column: span 8; }

footer {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  background-color: #66c61a; }

footer h5,
footer ul,
footer span {
  width: 100%; }

@media only screen and (min-width: 997px) and (max-width: 1920px) {
  .top-picks .feature:nth-child(2) {
    grid-column: span 6;
    grid-row: 2/4; }
  .top-picks .feature:nth-child(3) {
    grid-column: span 6;
    grid-row: 2/3; }
  .top-picks .feature:nth-child(4) {
    grid-column: span 6;
    grid-row: 3/4; }
  /* gallery */
  .gallery figure:nth-child(3) {
    grid-column: span 5; }
  .gallery figure:nth-child(4) {
    grid-column: span 4; }
  .gallery figure:nth-child(5) {
    grid-column: span 3; }
  /* product items */
  .product-item {
    grid-column: span 4;
    background-color: red; }
  .product-item:nth-child(odd) {
    grid-column: span 4;
    background-color: yellow; }
  /* User Comment */
  .user-post {
    grid-column: span 6; } }

.t-center {
  text-align: center; }

.p-0 {
  padding: 0; }

.p-1 {
  padding: .25em; }

.p-2 {
  padding: .5em; }

.p-3 {
  padding: 1em; }

.p-4 {
  padding: 1.5em; }

.p-5 {
  padding: 3em; }

.pt-0 {
  padding-top: 0; }

.pt-1 {
  padding-top: .25em; }

.pt-2 {
  padding-top: .5em; }

.pt-3 {
  padding-top: 1em; }

.pt-4 {
  padding-top: 1.5em; }

.pt-5 {
  padding-top: 3em; }

.pb-0 {
  padding-bottom: 0; }

.pb-1 {
  padding-bottom: .25em; }

.pb-2 {
  padding-bottom: .5em; }

.pb-3 {
  padding-bottom: 1em; }

.pb-4 {
  padding-bottom: 1.5em; }

.pb-5 {
  padding-bottom: 3em; }

.pr-0 {
  padding-right: 0; }

.pr-1 {
  padding-right: .25em; }

.pr-2 {
  padding-right: .5em; }

.pr-3 {
  padding-right: 1em; }

.pr-4 {
  padding-right: 1.5em; }

.pr-5 {
  padding-right: 3em; }

.pl-0 {
  padding-left: 0; }

.pl-1 {
  padding-left: .25em; }

.pl-2 {
  padding-left: .5em; }

.pl-3 {
  padding-left: 1em; }

.pl-4 {
  padding-left: 1.5em; }

.pl-5 {
  padding-left: 3em; }

.m-0 {
  margin: 0; }

.m-1 {
  margin: .25em; }

.m-2 {
  margin: .5em; }

.m-3 {
  margin: 1em; }

.m-4 {
  margin: 1.5em; }

.m-5 {
  margin: 3em; }

.mt-0 {
  margin-top: 0; }

.mt-1 {
  margin-top: .25em; }

.mt-2 {
  margin-top: .5em; }

.mt-3 {
  margin-top: 1em; }

.mt-4 {
  margin-top: 1.5em; }

.mt-5 {
  margin-top: 3em; }

.mb-0 {
  margin-bottom: 0; }

.mb-1 {
  margin-bottom: .25em; }

.mb-2 {
  margin-bottom: .5em; }

.mb-3 {
  margin-bottom: 1em; }

.mb-4 {
  margin-bottom: 1.5em; }

.mb-5 {
  margin-bottom: 3em; }

.mr-0 {
  margin-right: 0; }

.mr-1 {
  margin-right: .25em; }

.mr-2 {
  margin-right: .5em; }

.mr-3 {
  margin-right: 1em; }

.mr-4 {
  margin-right: 1.5em; }

.mr-5 {
  margin-right: 3em; }

.ml-0 {
  margin-left: 0; }

.ml-1 {
  margin-left: .25em; }

.ml-2 {
  margin-left: .5em; }

.ml-3 {
  margin-left: 1em; }

.ml-4 {
  margin-left: 1.5em; }

.ml-5 {
  margin-left: 3em; }

.clip {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute; }
